
.mobilecontainer3 {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
.mobilepanel1 {
	margin: 0px 0px 0px 0px;/** 0 mobilecontainer1 without margin */
}
#j_48 .ui-btn {
	margin: 0 -1px 0 0;
}
#j_48 {
	margin: 8px 5px 8px 5px;/** 1 mobilecontainer1 without margin */
}
.mobilebutton8_wrapper {
	margin: 4px 5px 4px 5px;/** 0 Pulsantoni without margin */
}
.ui-header .mobilebutton8_wrapper,
.ui-footer .mobilebutton8_wrapper {

}
.ui-header .mobilebutton8,
.ui-footer .mobilebutton8 {

}
#j_49 {

}
.mobilebutton9_wrapper {
	margin: 8px 5px 4px 5px;/** 1 Pulsantoni without margin */
}
.ui-header .mobilebutton9_wrapper,
.ui-footer .mobilebutton9_wrapper {

}
.ui-header .mobilebutton9,
.ui-footer .mobilebutton9 {

}
#j_50 {

}
.mobilebutton11_wrapper {
	margin: 8px 5px 4px 5px;/** 2 Pulsantoni without margin */
}
.ui-header .mobilebutton11_wrapper,
.ui-footer .mobilebutton11_wrapper {

}
.ui-header .mobilebutton11,
.ui-footer .mobilebutton11 {

}
#j_52 {

}
.mobilebutton10_wrapper {
	margin: 8px 5px 4px 5px;/** 3 Pulsantoni without margin */
}
.ui-header .mobilebutton10_wrapper,
.ui-footer .mobilebutton10_wrapper {

}
.ui-header .mobilebutton10,
.ui-footer .mobilebutton10 {

}
#j_51 {

}
.mobilegrid3 {
	height:auto;
	width:100%;
	margin: 4px 0px 4px 0px;/** 2 mobilecontainer1 without margin */
	border-collapse: collapse;
	// table-layout: fixed;
}
.mobilegrid3 tr td {
	vertical-align: top;
}
.mobilegrid3_row_0, .mobilegrid3_row_0 > td {
	height: 29px
}
.mobilegrid3_row_1, .mobilegrid3_row_1 > td {
	height: 30px
}
.mobilegrid3_row_2, .mobilegrid3_row_2 > td {
	height: 30px
}
.mobilegrid3_row_3, .mobilegrid3_row_3 > td {
	height: 30px
}
.mobilegrid3_row_4, .mobilegrid3_row_4 > td {
	height: 30px
}
.mobilegrid3_row_5, .mobilegrid3_row_5 > td {
	height: 30px
}
.mobilegrid3_row_6, .mobilegrid3_row_6 > td {
	height: 30px
}
.mobilegrid3_row_7, .mobilegrid3_row_7 > td {
	height: 30px
}
.mobilegrid3_row_8, .mobilegrid3_row_8 > td {
	height: 30px
}
.mobilegridcell12 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell12 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel9 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 gridnamelab without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell13 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell13 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
div.mobiletextinput5 {
	margin: 4px 0px 4px 0px;/** 0 gridnameinp without margin */
}
.mobiletextinput5 input.ui-input-text {

}
.mobilegridcell14 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell14 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel10 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 gridmaillab without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell15 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell15 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
div.mobiletextinput6 {
	margin: 4px 0px 4px 0px;/** 0 gridmailinp without margin */
}
.mobiletextinput6 input.ui-input-text {

}
.mobilegridcell16 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell16 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel11 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 gridtellab without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell17 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell17 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
div.mobiletextinput7 {
	margin: 4px 0px 4px 0px;/** 0 gridtelinp without margin */
}
.mobiletextinput7 input.ui-input-text {

}
.mobilegridcell18 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell18 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel12 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 gridteslab without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell19 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell19 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
div.mobiletextinput8 {
	margin: 4px 0px 4px 0px;/** 0 gridtesinp without margin */
}
.mobiletextinput8 input.ui-input-text {

}
.mobilegridcell20 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell20 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.ui-header .mobilebutton12_wrapper,
.ui-footer .mobilebutton12_wrapper {

}
.ui-header .mobilebutton12,
.ui-footer .mobilebutton12 {

}
#j_71 {

}
.mobilepanel2 {
	margin: 12px 5px 8px 5px;/** 3 mobilecontainer1 without margin */
}
.mobilefooter3 {
	padding: 6px 0px 0px 0px;
	min-height:32px;
}
/*
* CSS for Prenota generated by Exadel Tiggzi
*/
.mobilecontainer1 {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
.mobilebutton1_wrapper {
	margin: 4px 5px 4px 5px;/** 0 mobilecontainer without margin */
}
.ui-header .mobilebutton1_wrapper,
.ui-footer .mobilebutton1_wrapper {

}
.ui-header .mobilebutton1,
.ui-footer .mobilebutton1 {

}
#j_4 {

}
.mobilebutton2_wrapper {
	margin: 8px 5px 4px 5px;/** 1 mobilecontainer without margin */
}
.ui-header .mobilebutton2_wrapper,
.ui-footer .mobilebutton2_wrapper {

}
.ui-header .mobilebutton2,
.ui-footer .mobilebutton2 {

}
#j_5 {

}
.mobilebutton3_wrapper {
	margin: 8px 5px 4px 5px;/** 2 mobilecontainer without margin */
}
.ui-header .mobilebutton3_wrapper,
.ui-footer .mobilebutton3_wrapper {

}
.ui-header .mobilebutton3,
.ui-footer .mobilebutton3 {

}
#j_6 {

}
.mobilebutton4_wrapper {
	margin: 8px 5px 4px 5px;/** 3 mobilecontainer without margin */
}
.ui-header .mobilebutton4_wrapper,
.ui-footer .mobilebutton4_wrapper {

}
.ui-header .mobilebutton4,
.ui-footer .mobilebutton4 {

}
#j_7 {

}
.mobilebutton5_wrapper {
	margin: 8px 5px 4px 5px;/** 4 mobilecontainer without margin */
}
.ui-header .mobilebutton5_wrapper,
.ui-footer .mobilebutton5_wrapper {

}
.ui-header .mobilebutton5,
.ui-footer .mobilebutton5 {

}
#j_8 {

}
.mobilegrid1 {
	height:auto;
	width:100%;
	margin: 4px 0px 4px 0px;/** 5 mobilecontainer without margin */
	border-collapse: collapse;
	// table-layout: fixed;
}
.mobilegrid1 tr td {
	vertical-align: top;
}
.mobilegrid1_row_0, .mobilegrid1_row_0 > td {
	height: 30px
}
.mobilegrid1_row_1, .mobilegrid1_row_1 > td {
	height: 30px
}
.mobilegrid1_row_2, .mobilegrid1_row_2 > td {
	height: 30px
}
.mobilegrid1_row_3, .mobilegrid1_row_3 > td {
	height: 30px
}
.mobilegrid1_row_4, .mobilegrid1_row_4 > td {
	height: 30px
}
.mobilegrid1_row_5, .mobilegrid1_row_5 > td {
	height: 30px
}
.mobilegrid1_row_6, .mobilegrid1_row_6 > td {
	height: 30px
}
.mobilegrid1_row_7, .mobilegrid1_row_7 > td {
	height: 30px
}
.mobilegrid1_row_8, .mobilegrid1_row_8 > td {
	height: 30px
}
.mobilegridcell1 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell1 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel1 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_8 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell2 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell2 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
div.mobiletextinput1 {
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_10 without margin */
}
.mobiletextinput1 input.ui-input-text {

}
.mobilegridcell3 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell3 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel2 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_12 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell4 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell4 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
div.mobiletextinput2 {
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_13 without margin */
}
.mobiletextinput2 input.ui-input-text {

}
.mobilegridcell5 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell5 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel3 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_18 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell6 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell6 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobileselectmenu1 {
	margin: 4px 5px 4px 5px;/** 0 mobilegridcell_19 without margin */
}
.ui-header .mobileselectmenu1,
.ui-footer .mobileselectmenu1 {

}
.mobileselectmenu1 .ui-select {
	margin: 0;
	width: 100%;
}
.mobileselectmenu1 a.ui-btn {
	margin: 0;
	/* width: 100%; */
}
.mobilegridcell7 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell7 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel4 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_23 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobiletoggle1 {
	margin: 8px 0px 4px 0px;/** 1 mobilegridcell_23 without margin */
}
.mobilegridcell8 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell8 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel5 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_27 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
div.mobiletextinput3 {
	margin: 8px 0px 4px 0px;/** 1 mobilegridcell_27 without margin */
}
.mobiletextinput3 input.ui-input-text {

}
.mobilegridcell9 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell9 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel6 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_30 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
div.mobiletextinput4 {
	margin: 8px 0px 4px 0px;/** 1 mobilegridcell_30 without margin */
}
.mobiletextinput4 input.ui-input-text {

}
.mobilebutton6_wrapper {
	margin: 8px 5px 4px 5px;/** 6 mobilecontainer without margin */
}
.ui-header .mobilebutton6_wrapper,
.ui-footer .mobilebutton6_wrapper {

}
.ui-header .mobilebutton6,
.ui-footer .mobilebutton6 {

}
#j_32 {

}
.mobilefooter1 {
	padding: 6px 0px 0px 0px;
	min-height:32px;
}
/*
* CSS for News generated by Exadel Tiggzi
*/
.mobilecontainer2 {
	padding: 15px 15px 15px 15px;
	height: 100%;
}
.mobilegrid2 {
	height:auto;
	width:100%;
	margin: 4px 0px 4px 0px;/** 0 mobilecontainer without margin */
	border-collapse: collapse;
	// table-layout: fixed;
}
.mobilegrid2 tr td {
	vertical-align: top;
}
.mobilegrid2_row_0, .mobilegrid2_row_0 > td {
	height: 30px
}
.mobilegrid2_row_1, .mobilegrid2_row_1 > td {
	height: 30px
}
.mobilegridcell10 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell10 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel7 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_3 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilegridcell11 {
	padding: 2px 2px 2px 2px;
}
.mobilegridcell11 div.cell-wrapper {
	padding: 0;
	margin: 0;
}
.mobilelabel8 {
	font-style: italic; text-align: left;
	margin: 4px 0px 4px 0px;/** 0 mobilegridcell_5 without margin */
	// padding: 5px;
	word-wrap:break-word;
}
.mobilebutton7_wrapper {
	margin: 8px 5px 4px 5px;/** 1 mobilecontainer without margin */
}
.ui-header .mobilebutton7_wrapper,
.ui-footer .mobilebutton7_wrapper {

}
.ui-header .mobilebutton7,
.ui-footer .mobilebutton7 {

}
#j_41 {

}
.mobilefooter2 {
	padding: 6px 0px 0px 0px;
	min-height:32px;
}